body{
    background-image: url("images/pizza.jpg");
}

.page-header {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 80px;
    background-color: #0095ff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .page-header h1 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .page-header h1 a {
    color: #fff;
    text-decoration: none;
  }
  
  .page-header h1 a:visited {
    color: #fff;
  }
  
  .page-header h1 a:active {
    color: #ffa500;
  }
  
  .top-menu{
    color:whitesmoke;
  }

  .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.85);
  }
  
  .content h2 {
    font-size: 32px;
    margin: 40px 0 20px;
  }
  
  .content p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 20px;
  }
  

  h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    margin: 20px 0 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  h1 {
    font-size: 36px;
    font-weight: 600;
  }
  