{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.leadott_datum %}
            <div class="date">
                {{ post.leadott_datum }}
            </div>
        {% endif %}
        <h1> Sikeresen Leadtad a rendelésedet! </h1>
        <p> Rendelésed Szerkesztése: <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a> </p>
        <p>
        <h2> A Rendelésed: </h2>
        {{ post.pizza }}
        {{ post.italok|linebreaksbr }}</p>
    </div>
{% endblock %}
